<!doctype html>

<html lang="en">
<head>
    <meta charset="utf8">
    {% block head %}{% endblock %}
    <meta name="author" content="{{ config.extra.author }}">
    {% if current_path %}<meta property="og:url" content="{{config.base_url | safe}}{{current_path | safe}}" />{% endif %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed for tdias.pt" href="/atom.xml" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div class="wrapper {% if page %}page{% endif %}{% if section %}section{% endif %} {% if page.extra.css_class %}{{ page.css_class }}{% endif %}{% if section.extra.css_class %}{{ section.extra.css_class }}{% endif %}">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
