{% extends "base.html" %}

{% block head %}
    <title>{{ page.title }} - {{ config.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
    <meta property="article:author" content="{{ config.extra.author }}" />
{% endblock %}

{% block content %}
    <header>
        <a class="back" href="/">☚ Home</a>

        <h1>{{ page.title }}</h1>
        {% if page.date %}
            <p class="subtitle">Published on {{ page.date | date(format="%d of %B, %Y") }}</p>
        {% endif %}
    </header>

    {{ page.content | safe }}
{% endblock content %}
