{% extends "base.html" %}

{% block head %}
    <title>{{ section.title }} - {{ config.title }}</title>
    <meta property="og:title" content="{{ section.title }}">
    <meta name="description" content="{{ section.description }}">
    <meta property="og:description" content="{{ section.description }}">
{% endblock %}

{% block content %}
    <header>
        <a class="back" href="/">☚ Home</a>

        <h1>{{ section.title }}</h1>
    </header>

    {{ section.content | safe }}
{% endblock content %}
